.content {
    padding: 1px;
    margin:80px 0px 20px 20px;
    }
  
    /* width */
    ::-webkit-scrollbar {
    width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #879CDA; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #4F6FCE; 
    }
  
     .post-media {
       width: 70px;
       height: 70px;
       overflow: hidden;
       margin-right: 20px;
       float: left;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       border-radius: 50%;
   }
   h6 {
       font: 16px 'Raleway', Arial, sans-serif;
       line-height: 20px;
   }
   #nstps1{
     text-align: center;
   }
   #nstps2{
   border: 3px solid #3498db;
   }
   #nstps2 h3{
     color: black !important;
   }
   #nstps2 u{
     color: #3498db;
   }
   #nstps1 u{
     color: #3498db;
   }
   #nstps2 p{
     font-weight: 600 !important;
     font-size: 23px !important;
   }
   #nstps1 p{
     font-weight: 500 !important;
     font-size: 18px !important;
   }