body{font-family:Open Sans,sans-serif;font-size:14px;line-height:22px;background:#fff}

h1,h2,h3,h4,h5,h6{letter-spacing:-0.05em;color:#222529}h1{font-family:Open Sans,sans-serif;font-weight:300;font-size:36px;line-height:44px;letter-spacing:-1px;color:#1d2127}

body.wide .container:not(.inner-container){padding-left:30px;padding-right:30px}